.uploader {
  opacity: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1px;
  height: 1px;
}

.upload-wrapper {
  padding: 50px 15px;
  text-align: center;
  border: 2px dashed #ced4da;
  border-radius: 5px;
  position: relative;

  &.active, &:hover {
    cursor: pointer;
    border-color: #007bff;
  }
}

